<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="filter_products">
    <table border="1">
        <tr>
            <th>Select product type</th>
            <th><select name="select">
                <option>Chicken</option>
                <option>Mutton</option>
                <option>Fish</option>
                <option>Masala powders</option>
            </select>
            </th>
            <th colspan="4"><input type="submit" value="Show"></th>
        </tr>

        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>

        {% for i in val %}

        <tr>
            <td><img src="../static/product_images/{{i['main_image']}}" alt="{{i['main_image']}}" width="100" height="100"></td>
            <td>{{i['name']}}</td>
            <td>{{i['price']}}</td>
            <td>{{i['description']}}</td>
            <td>{{i['stock']}}</td>
            <td>
                <a href="#">Edit</a><br><br>
                <a href="#">Remove</a>
            </td>
        </tr>

        {% endfor %}

    </table>
</form>
</body>
</html>